body {
    font-family: inter;
    margin: 0;
    padding: 0;

}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 750px;
    padding: 20px;
    margin-left: 700px;
}

.formuT {
    margin: 0 auto;
    margin-top: 150px;
    width: 100%;
    max-width: 600px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    opacity: 1;
    color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.formuT:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-top: 0.2px solid #223357;
}
.formuT:hover .formu input,
.formuT:hover .formu textarea{
    background-color: #091736;
}


.titulo {
    margin-bottom: 40px;
    text-align: center;
}

.titulo h5 {
    margin: 0;
    font-size: 1.5rem;
}

.titulo p {
    color: #6c757d;
}

.formu {
    border-radius: 5px;
}

.nomYap {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.nomYap div {
    margin-bottom: 15px;
}

.nomYap div label {
    margin-bottom: 6px;
    color: #6c757d;
}

.nomYap div input,
.nomYap div textarea {
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #1F2937;
    border: 1px solid #1F2937;
    color: white;
}

.nomYap div input:focus,
.nomYap div textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
    color: white;
}

.mail {
    font-family: var(--font-family);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.mail label,
.msj label {
    margin-right: 10px;
}

.mail input,
.msj textarea {
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    font-family: var(--font-family);
    padding: 5px;
    background-color: #1F2937;
    border: 1px solid #1F2937;
    color: white;
}

.msj textarea {
    width: 102%;
    height: 60px;
    font-size: 1rem;
}

.mail input {
    padding: 5px;
    font-size: 1rem;
    width: 100%;
}

.msj {
    color: #6c757d;
    font-family: var(--font-family);
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #1F2937;
    color: #20B2AA;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 15px;
}

button:hover {
    background-color: #136360;
    color: #ffffff;
    transform: scale(1.02);
    transition: 0.2s;
}

@media only screen and (max-width: 1120px) {
    .formulario{
        margin: 0;
        margin-top: -70px;
    }
}

@media (min-width: 600px) {
    .nomYap {
        flex-direction: row;
    }

    .nomYap div {
        margin-right: 15px;
        flex: 1;
    }

    .nomYap div:last-child {
        margin-right: 0;
    }

}

@media (max-width: 700px) {
    .mail input {
        width: 100%;
    }

    .msj textarea {
        width: 100%;
    }
}