.home {
    max-width: 40%;
    margin-left: 57%;
    margin-top: 150px;
    padding-right: 80px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #7F94BA;
    transform: translateY(-20px);
}
.sectorr div h1{
    margin-bottom: 150px;
}

@media only screen and (max-width: 1120px) {
    .home {
        margin: 0 auto;
        padding: 0;
        max-width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .home {
        padding-right: 10px;
    }
}

/* ------------------------SERVICIOS----------------------- */

.stitulo {
    max-width: 43%;
    margin-left: 55.2%;
    transform: translateY(-47px);
}

.exp {
    display: flex;
    padding: 25px 35px;
    border-radius: 5px;
    color: #7F94BA;
    text-decoration: none;
    width: 90%;
    font-weight: 450;
    margin-top: 150px;
}

.exp:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.2s;
}

.exp div h4 {
    font-size: 1.2rem;
    color: rgb(202, 202, 202);
}

.exp div {
    margin-left: 20px;
}

.exp:hover div h4 {
    color: #53CED0;
    transition: 0.2s;
}


.fecha {
    position: relative;
    white-space: nowrap;
    font-size: 0.9rem;
    color: #64748B;
    height: 25px;
    transform: translateY(3px);
    font-weight: 700;
}

.fecha::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 1px;
    width: 0;
    background-color: #53CED0;
    transition: width 0.4s ease, left 0.4s ease;
}

.exp:hover .fecha::after {
    width: 90%;
    left: 0;
    transform: translateX(7px);
}

/* --------------TECNOLOGIAS-------------- */
.tecnologias {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.tecnologias .tec {
    background-color: #122B39;
    padding: 5px 15px;
    border-radius: 20px;
    color: #46AFA4;
    font-weight: 600;
    margin: 5px 5px;
    transform: translateX(-7px) translateY(10px);
}

.stitulo .tecnologias .tec {
    transform: translateX(-26px) translateY(10px);
}

@media only screen and (max-width: 1120px) {
    .stitulo {
        margin: 0 auto;
        margin-top: 130px;
        transform: translateX(14px);
        max-width: 88.3%;
    }

    .exp {
        padding: 0;
        margin: 0 auto;
        width: 100%;
    }

    .exp:hover {
        background-color: rgba(0, 0, 0, 0);
        border-top: 0;
    }

    .exp .fecha {
        margin-right: 80px;
        transform: translateX(-24px);
        top: 1px;
    }
}

@media only screen and (max-width: 650px) {
    .exp{
        flex-direction: column;
    }
    .exp h4{
        transform: translateX(-38px);
        margin-bottom: 5px;
    }
    .exp .fecha{
        transform: translateX(-18px);
        width: 23%;
    }
    .fecha::after{
        top: 21px;
    }

    .exp p{
        transform: translateX(-38px);
    }
    .exp .tecnologias{
        transform: translateX(-37px);
    }
}

/* -----------------------PROYECTOS---------------------------------- */

.proyectos {
    display: flex;
    padding: 25px 35px;
    border-radius: 5px;
    color: #7F94BA;
    text-decoration: none;
    width: 40%;
    font-weight: 450;
    margin-top: 30px;
    margin-left: 55.2%;
    transform: translateY(-40px);
}
#idd{
    margin-top: 150px;
}

.proyectos:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.2s;
}

.proyectos img {
    width: 160px;
    height: 100px;
    margin-right: 15px;
    border-radius: 5px;
    transform: translateY(6px);
}

.proyectos h5 {
    color: rgb(194, 194, 194);
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.proyectos:hover h5 {
    color: #53CED0;
    transition: 0.2s;
}

.proyectos p {
    font-size: 1rem;
    color: #7F94BA;
}

.titles {
    margin-left: 57.1%;
    transform: translateY(95px);
    font-weight: 700;
    color: #CBD6EA;
    font-size: 1rem;
}

@media only screen and (max-width: 1120px) {

    .proyectos div {
        width: 110%;
    }

    .titles {
        width: 90%;
        margin: 0 auto;
    }
    
    .proyectos {
        margin-left: 17px;
        width: 97.2%;
    }

    .proyectos:hover {
        background-color: rgba(0, 0, 0, 0);
        border-top: 0px solid rgba(0, 0, 0, 0);
        transition: 0.2s;
    }

    .proyectos:hover img {
        border: 1px solid #31353d;
    }

    .proyectos img {
        width: 200px;
        height: 120px;
        margin-right: 40px;
    }
}
@media only screen and (max-width: 650px) {
    .proyectos{
        flex-direction: column;
        width: 90%;
        transform: translateX(-20px);
        flex-direction: column-reverse;
    }
    .proyectos img{
        margin-top: 20px;
    }
}
