body {
    height: 100vh;
    margin: 0;
    background-color: #282c34;
}

.cursor {
    position: fixed;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.2s ease;
    background: radial-gradient(circle, rgba(22, 94, 219, 0.2) 0%, rgba(255, 255, 255, 0) 70%);
    transform: translate(-50%, -50%); 
}

